<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MPG Prediction</title>
</head>
<body>
<h4 style="float: right"><a href="/">Home</a>&nbsp;&nbsp;</h4>
<h2>Check Milege of Your Car</h2>
{{ a }}
<h3>Please Enter Details:</h3>
<form method="post" enctype="multipart/form-data" action="predictMPG">
    {% csrf_token %}
    <div class="col-md-4 col-sm-4"><label for="cylinderval">Cylinder:</label><input type="text" name="cylinderval" id="cylinderval" value="{{ temp.cylinders }}" ></div><br>
     <div class="col-md-4 col-sm-4"><label for="dispval">Displacemnet:</label><input type="text" name="dispval" id="dispval"value="{{ temp.displacement }}" ></div><br>
     <div class="col-md-4 col-sm-4"><label for="hrspval">HorsePower:</label><input type="text" name="hrspval" id="hrspval" value="{{ temp.horsepower }}"></div><br>
     <div class="col-md-4 col-sm-4"><label for="weightval">Weight:</label><input type="text" name="weightval" id="weightval" value="{{ temp.weight }}"></div><br>
     <div class="col-md-4 col-sm-4"><label for="accval">Accelaration:</label><input type="text" name="accval" id="accval" value="{{ temp.acceleration }}"></div><br>
     <div class="col-md-4 col-sm-4"><label for="modelval">Model:</label><input type="text" name="modelval" id="modelval" value="{{ temp.model_year }}"></div><br>
     <div class="col-md-4 col-sm-4"><label for="originval">Origin:</label><input type="text" name="originval" id="originval" value="{{ temp.origin }}"></div><br>
    <br>
    <button type="submit" value="Submit">Submit</button>
</form>
<br>
{{ c }}{{ b }}
</h1>
</body>
</html>